

<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>



<mat-card class="contact-card">
    <mat-card-header>
      <div mat-card-avatar class="contact-header-image"></div>
      <mat-card-title>Corentin Leboutte</mat-card-title>
      <mat-card-subtitle>Web Developer - TechnofuturTIC</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/personne1.jpg" alt="Photo de Corentin Leboutte">
    <mat-card-content>
      <p>
        corentin.leboutte@live.be
        
      </p>
      <p>
        0498/26.21.62
      </p>
    </mat-card-content>
    <mat-card-actions>
      
        <button mat-button>
        <mat-icon>favorite_border</mat-icon>
      </button>

      <button mat-button>
          <mat-icon>share</mat-icon></button>

    </mat-card-actions>
  </mat-card>

  <!-- Default form contact -->
<!--<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Contact us</p>

  
  <input type="text" formControlName="contactFormName" id="defaultContactFormName" matInput
    class="form-control mb-4" placeholder="Name">

  
  <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" matInput
    class="form-control mb-4" placeholder="E-mail">

  
  <label>Subject</label>
  <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
    <option value="" disabled>Choose option</option>
    <option value="1" selected>Feedback</option>
    <option value="2">Report a bug</option>
    <option value="3">Feature request</option>
    <option value="4">Feature request</option>
  </select>


  <div class="form-group">
    <textarea formControlName="contactFormMessage" class="form-control rounded-0" matInput id="exampleFormControlTextarea2"
      rows="3" placeholder="Message"></textarea>
  </div>


  <mat-checkbox [default]="true" class="mb-4">Send me a copy of this message</mat-checkbox>


  <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
    matWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>

</form>
-->


  


  
  