<mat-grid-list
cols="4" 
rowHeight="500px" 
gutterSize="0.5rem">  


<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> Le Temps Des Cerises </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/no-image.jpg">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Description:
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="Description">
          <p>Restaurant exceptionnel, une cuisine d'antan réaliser à la perfection et avec amour. 
              Un patron qui fait le service et au service de ses hôtes, laissez le accorder les 
              vins ou bières aux plats que vous aurez choisi, vous ne serez pas déçu, et il ne 
              pousse pas à la consommation. Un décor qui cadre parfaitement avec le nom du 
              restaurant, tout en rouge cerise. Atardez vous sur les murs et vous lirez les 
              dedicasses de nombreuses stars qui y sont passés. Un moment de bonheur !</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
    
      <button mat-raised-button color="primary">Sélectionner</button>
      <button mat-raised-button color="primary">
        <a href="https://cerises.be/" target="_blank">Site Web</a>
      </button>

    </mat-card-actions>
  </mat-card>



  <!-------------------------------------------------------------------------------------------------------------->


</mat-grid-tile>

<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>L'Entre Sambre et Mer</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/no-image.jpg">
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-description>
                Description:
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="Description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum tempore veritatis soluta nemo est iusto non sapiente minus voluptate laboriosam aliquam, asperiores alias laborum impedit commodi consequatur distinctio quibusdam numquam!</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Sélectionner</button>
        <button mat-raised-button color="primary">
            <a href="http://restaurants-namur.com/" target="_blank">Site Web</a>
        </button>
      </mat-card-actions>
    </mat-card>

    
    <!-------------------------------------------------------------------------------------------------------------->



  </mat-grid-tile>

  <mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Bistro Belgo Belge</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/no-image.jpg">
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-description>
                Description:
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="Description">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, nemo, corrupti fuga nihil suscipit ab magnam mollitia harum accusantium repudiandae tempore quisquam! Quo pariatur dolores, quisquam dolore obcaecati suscipit recusandae.</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Sélectionner</button>
        <button mat-raised-button color="primary">
            <a href="https://www.la-carte.be/fr/restaurants/belgique/namur/5000_namur/bistro-belgo-belge/" target="_blank">Site Web</a>
        </button>
      </mat-card-actions>
    </mat-card>


<!-------------------------------------------------------------------------------------------------------------->

  </mat-grid-tile>

  <mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Brasserie François</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/no-image.jpg">
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-description>
                Description:
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="Description">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates dolorum fugiat expedita unde sapiente iusto, officia autem voluptate repudiandae amet quos, itaque eius maiores assumenda vitae ullam illum neque magnam!</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Sélectionner</button>
        <button mat-raised-button color="primary">
            <a href="https://www.brasseriefrancois.be/" target="_blank">Site Web</a>
        </button>
      </mat-card-actions>
    </mat-card>



<!-------------------------------------------------------------------------------------------------------------->


  </mat-grid-tile>

  <mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Tasty Bar & Burger</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/no-image.jpg">
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-description>
                Description:
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="Description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil repellat quae cupiditate sed ut illum consequatur, corporis tenetur cum adipisci blanditiis laborum rerum facere et officiis earum ad enim porro.</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Sélectionner</button>
        <button mat-raised-button color="primary">
            <a href="https://tastyburgerlocal.com/" target="_blank">Site Web</a>
        </button>
      </mat-card-actions>
    </mat-card>

    
    <!-------------------------------------------------------------------------------------------------------------->


  </mat-grid-tile>

  <mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Vino Vino</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/no-image.jpg">
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-description>
                Description:
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="Description">
            <p>La cathédrale Saint-Aubain de Namur est un édifice religieux catholique qui est l'église 
              épiscopale et siège du diocèse de Namur. Commencée en 1751, son édification se termine 
              en 1767. La consécration a eu lieu le 20 septembre 1772. Son saint patron est Alban de 
              Mayence. Elle est inscrite au patrimoine majeur de Wallonie</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Sélectionner</button>
        <button mat-button onclick="href = 'www.tastyburgerlocal.com/';">Site Web</button>
      </mat-card-actions>
    </mat-card>

    
    <!-------------------------------------------------------------------------------------------------------------->


  </mat-grid-tile>


<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Le Fouquet's - Chez Mergim </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/no-image.jpg">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Description:
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="Description">
          <p>La cathédrale Saint-Aubain de Namur est un édifice religieux catholique qui est l'église 
            épiscopale et siège du diocèse de Namur. Commencée en 1751, son édification se termine 
            en 1767. La consécration a eu lieu le 20 septembre 1772. Son saint patron est Alban de 
            Mayence. Elle est inscrite au patrimoine majeur de Wallonie</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Sélectionner</button>
      <button mat-button onclick="href = 'www.tastyburgerlocal.com/';">Site Web</button>
    </mat-card-actions>
  </mat-card>

  
  <!-------------------------------------------------------------------------------------------------------------->


</mat-grid-tile>