
<mat-grid-list
cols="4" 
rowHeight="500px" 
gutterSize="0.5rem"> 
<ng-container *ngFor="let theme of themes">
    <mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>
                  
                      {{theme.nom}}
                  
              </mat-card-title>
            </mat-card-header>

            <img mat-card-image [src]="theme.image">
            <!--<img mat-card-image src="assets/images/no-image.jpg">-->

            <mat-card-content>
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-description>
                      Description:
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="Description">
                      
                          {{theme.description}}
                      
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary">Détails</button>
 
 
              <!--             <button mat-raised-button color="primary">
                  <a href="http://www.google.be" target="_blank">Site Web</a> 
              </button>-->

              <button mat-raised-button color="primary">Sélectionner</button>


            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
    </ng-container>
    </mat-grid-list>