


<mat-grid-list
cols="4" 
rowHeight="500px" 
gutterSize="0.5rem">  


<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Cathédrale Saint-Aubain de Namur</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/Rops1.jpg">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Description:
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="Description">
          <p>La cathédrale Saint-Aubain de Namur est un édifice religieux catholique qui est l'église 
            épiscopale et siège du diocèse de Namur. Commencée en 1751, son édification se termine 
            en 1767. La consécration a eu lieu le 20 septembre 1772. Son saint patron est Alban de 
            Mayence. Elle est inscrite au patrimoine majeur de Wallonie</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Sélectionner</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>



<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1"> 
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Citadelle de Namur</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/Rops1.jpg">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Description:
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="Description">
          <p>La citadelle de Namur, en Belgique, est une ancienne place forte dominant la ville 
            et le confluent. Il s'agit d'une des plus grandes citadelles d'Europe et son vaste 
            réseau de souterrains lui valut d'être surnommée "La termitière de l'Europe" par 
            Napoléon Iᵉʳ. Des vestiges du château comtal aux bastions et terrasses à canons 
            plus récents, elle témoigne de plus de mille ans d'histoire. Le site est divisé 
            en trois parties : Donjon, représentant la partie inférieure, Médiane pour la partie 
            intermédiaire et Terra Nova pour la partie supérieure. Son sommet culmine à 190 m 
            d'altitude. Celle-ci est classée au Patrimoine immobilier exceptionnel de la 
            Région wallonne. Elle est composée de nombreux quartiers résidentiels, d'un cœur 
            historique et d'une longue forêt.</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Sélectionner</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>


<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1"> 
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Musée provincial Félicien Rops</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/Rops1.jpg">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Description:
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="Description">
          <p>Vie et oeuvre de l'artiste namurois Félicien Rops</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Sélectionner</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>


<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1"> 
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Les Jardins d’Annevoie</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/Rops1.jpg">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Description:
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="Description">
          <p>Les jardins d'Annevoie constituent le parc du château situé dans le village 
            d'Annevoie-Rouillon dans la commune d'Anhée, située dans la province de Namur 
            en Belgique. Le château d'Annevoie, du XVIIᵉ siècle, est entouré d'un parc 
            regorgeant d'installations hydrauliques. Le Grand Canal, qui reçoit lui-même 
            son eau de quatre sources, alimente des fontaines, des étangs et des cascades. 
            Les jardins d'Annevoie sont connus pour leur grande valeur esthétique, 
            historique et culturelle, et allient avec goût la magie de l'eau et la pureté 
            d'un jardin élégant. Créés en 1758 par Charles-Alexis de Montpellier, ils 
            allient la rigueur française à la fantaisie anglaise et au charme italien. 
            Le château lui-même, habité par la famille de Montpellier depuis 1675, n'est 
            pas ouvert au public</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Sélectionner</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>

<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1"> 
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Musée provincial Félicien Rops</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/Rops1.jpg">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Description:
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="Description">
          <p>Vie et oeuvre de l'artiste namurois Félicien Rops</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Sélectionner</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>

<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1"> 
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Musée provincial Félicien Rops</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/Rops1.jpg">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Description:
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="Description">
          <p>Vie et oeuvre de l'artiste namurois Félicien Rops</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Sélectionner</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>

<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1"> 
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Musée provincial Félicien Rops</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/Rops1.jpg">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Description:
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="Description">
          <p>Vie et oeuvre de l'artiste namurois Félicien Rops</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Sélectionner</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>

<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1"> 
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Musée provincial Félicien Rops</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/Rops1.jpg">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Description:
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="Description">
          <p>Vie et oeuvre de l'artiste namurois Félicien Rops</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Sélectionner</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-tile>










</mat-grid-list> 