<mat-grid-list
cols="4" 
rowHeight="500px" 
gutterSize="0.5rem">  


<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Point de vue de Bouge</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/PointdevueBouge1.jpg">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Description:
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="Description">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, alias quod? Quod veniam eius dignissimos dolores, commodi quasi non ipsam dicta recusandae temporibus autem vero mollitia alias deleniti dolorem quas.</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
    
      <button mat-raised-button color="primary">Sélectionner</button>
      <button mat-raised-button color="primary">
        <a href="http://www.enigmalock.be/" target="_blank">Site Web</a>
      </button>

    </mat-card-actions>
  </mat-card>



  <!-------------------------------------------------------------------------------------------------------------->


</mat-grid-tile>

<mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Point de vue Saint Servais</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/PointdevueSaintServais.jpg">
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-description>
                Description:
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="Description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum tempore veritatis soluta nemo est iusto non sapiente minus voluptate laboriosam aliquam, asperiores alias laborum impedit commodi consequatur distinctio quibusdam numquam!</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Sélectionner</button>
        <button mat-raised-button color="primary">
            <a href="http://lasergame-evolution.be/centre-namur" target="_blank">Site Web</a>
        </button>
      </mat-card-actions>
    </mat-card>

    
    <!-------------------------------------------------------------------------------------------------------------->



  </mat-grid-tile>

  <mat-grid-tile  [colspan]="(isHandset$ | async) ? 4 : 1" [rowspan]="1">  
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Point de vue - Rocher de Freyr</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/PointdevueFreyr1.jpg">
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-description>
                Description:
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="Description">
            <p>Le Drakkar Rouge est un Bar à ambiance Viking avec une activité indépendante du bar : le lancer de haches. Ambiance conviviale, la carte classique est complétée par de l'hydromel et des vins gallo-romains. À découvrir au plus vite!</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Sélectionner</button>
        <button mat-raised-button color="primary">
            <a href="www.ledrakkarrouge.com" target="_blank">Site Web</a>
        </button>
      </mat-card-actions>
    </mat-card>


<!-------------------------------------------------------------------------------------------------------------->

  </mat-grid-tile>

 


