<!-- Toolbar supérieure-->

<mat-toolbar>
  <span>Namur Tourisme</span>
</mat-toolbar>

<!--Toolbar inférieure-->

<mat-toolbar>
  <!--boutons du menu-->

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">Accueil</button>
    <button mat-menu-item routerLink="/about">A propos</button>
    <button mat-menu-item routerLink="/contact">Contacts</button>
  </mat-menu>

  <span>Menu</span>
  <span class="example-spacer"> </span>

  <span *ngIf="isAuth">{{ "Bonjour " + user.prenom }}</span>

  <!--bouton de déconnection-->

  <button
    mat-icon-button
    class="public_off"
    matTooltip="Se déconnecter"
    (click)="logoutButtonAction()"
    *ngIf="isAuth"
  >
    <mat-icon>public_off</mat-icon>
  </button>

  <!--bouton du login -->

  <button
    mat-icon-button
    class="login-icon"
    matTooltip="Se connecter"
    (click)="loginButtonAction()"
    *ngIf="isAuth != true"
  >
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
